<style>
    * {
        background: transparent;
    }

    html {
        background: transparent;
    }

    body {
        margin: 0;
        padding: 0;
        overflow-y: hidden;
        overflow-x: hidden;
        background: transparent;
    }

    .image-body {
        padding-left: 40px;
        font-family: Satoshi, serif;
        display: grid;
        align-content: center;
        justify-content: left;
        font-size: 26px;
        font-weight: 500;
        background: transparent;
        width: 600px;
        height: 200px;
        color: black;
    }

    .image-wrapper {
        max-width: 400px;
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-rows: 38px auto;
    }

    .image-container__fixed-text {
        background: white;
        padding-bottom: 1vw;
        width: 420px;
        text-align: center;
        border: 2px black solid;
    }

    .image-container__dynamic-text {
        z-index: -1;
        margin-top: -1px;
        background: transparent;
        color: white;
    }

    .image-container__dynamic-text > span {
        background-color: #dd4d0f;
        padding-left: 12px;
        padding-right: 12px;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

</style>
<div class="image-body">
    <div class="image-wrapper">
        <div class="image-container__fixed-text">
            Mam taki pomysł, żeby w wakacje
        </div>
        <div class="image-container__dynamic-text">
            <span>{{ phrase }}</span>
        </div>
    </div>
</div>