{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <link rel="stylesheet" type="text/css" href="{% static 'generator/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'generator/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="header-bar">
    <span><img class="travelist-logo" alt="travelist.pl" src={% static 'generator/travelist_logo.png' %}></span>
    <span>Mamy Twój pomysł na wakacje</span>
</div>
<div class="generator-container">
    <section class="introduction">
        <h1>Teraz Ty też możesz zostać ambasadorem <br>naszej nowej kampanii!</h1>
        <p>Dokończ zdanie, kliknij „generuj stopkę” i zapisz wygenerowany plik <br>
            png klikając w niego prawym przyciskiem myszki.<br>
            Zapisany obrazek ustaw w stopce e-mail zgodnie ze
            <a href="http://travelist.fmcgo.pl/static/generator/wzor.png"
               target="_blank"
               rel="noopener noreferrer"
            >
                wzorem.
            </a>
        </p>
        <p>Niech każdy Twój mail będzie inspiracją dla adresatów, </br>żeby sami też znaleźli swój pomysł na
            wakacje.</p>
    </section>
    <form action="/download" method="post" class="generator-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="form-button">
            Generuj stopkę
            <img class="arrow-image" alt="arrow image" src={% static 'generator/arrow.png' %}>
        </button>
        {#        <input type="submit" value="Generuj stopkę">#}
    </form>
</div>
</body>
</html>